[Unit]
Description=prusacam service

[Service]
WorkingDirectory=/opt/prusacam
ExecStart=/opt/prusacam/prusacam
SyslogIdentifier=prusacam

[Install]
WantedBy=multi-user.target